<!DOCTYPE html>
<html>
  <% include partials/template/head.ejs %>
  <body>
    <% include partials/template/header.ejs %>
	<section class="layout">
		<div class="primary">
			<% include partials/content/speakerslist.ejs %>
		</div>
		<aside class"secondary">
			<% include partials/content/nextmeeting.ejs %>
		</aside>
	</section>
	<% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>