<footer> 
	<section class="layout">
		<p class="tuvieja"> Gracias por visitar nuestra página. </p>
		<p>
			También podés seguirnos en: 
			<% include ../content/socialmedia.ejs %>
		</p>
	</section>
</footer>