<header>
	<div class="hero">
		<section class="layout">
			<div  class="branding">
				<a href="/">
					<!-- <img src="/images/misc/roux.svg" alt="Los Taninos Vinoteca"> -->
				</a>
			</div>
		</section>
	</div>
	
	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li> <a href="/"> <i class="fa fa-home"></i> Principal </a> </li>
				<li> <a href="/eventos"> <i class="fa fa-glass"></i> Eventos </a></li>
				<li> <a href="/conceptos"> <i class="fa fa-book"></i> Conceptos </a></li>
				<li> <a href="/upload"> <i class="fa fa-slideshare"></i> Contribuir </a></li>
			</ul>
		</section>
	</div>
</header>