<article class="nextmeeting">
  <h3>Buscabas más información?!</h3>
  <p>Aquí algunos enlaces a páginas llenas de conocimiento sobre este interesante mundo del vino: <a href="http://www.vinosdeargentina.com/">Vinos de Argentina </a>, <a href="http://www.museodelwhisky.com/es/index.php?id=1&ids=1&lan=c">Museo del whisky</a>, <a href="http://www.fondovitivinicola.com.ar/">Fondo Vitivinícola</a>, y muchas más!</p>
</article><!-- article -->