<div class="pixgrid">
		<% if (contributors_pics.length > 0) { %>
			<% for (i=0; i< contributors_pics.length; i++) { %>
				<img src="<%= contributors_pics[i] %>" alt="Contributors Pictures <%= i %>">
			<% } %>
		<% } %>
</div>