<article id="whoarewe">
  <h1>Quiénes somos?</h1>
    <p>Vinoteca Los Taninos fue inaugurada el 10 de julio del año 2006, en la ciudad de Necochea, Buenos Aires, Argentina. Aquí podrás encontrar una selección de las mejores bebidas, nacionales e importadas, en especial vinos. Tratamos de brindar el asesoramiento adecuado, que le permita al consumidor elegir un producto para vivir una experiencia placentera y a un precio muy conveniente.</p>
	<p>Atendido por sus dueños, lo que asegura la mejor atención de la ciudad.</p>
</article><!-- article -->
 
 