<article id="whoshouldcome">
  <h1>Por qué deberias visitarnos?</h1>
  <ul>
    <li>Porque brindamos el mejor asesoramiento.</li>
    <li>Porque tenemos los mejores precios de la ciudad.</li>
    <li>Porque contamos con las mejores bodegas del mercado.</li>
	<li>Porque no vas a poder encontrar una sola razón para no visitarnos.</li>
  </ul>
</article><!-- article -->